@font-face {
  font-family: "Lemon Milk";
  src: url(../fonts/LEMONMILK-Regular.otf);
}

@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Medium.ttf);
}
@font-face {
  font-family: "Albra";
  src: url(../fonts/Albra-Light.otf);
}
@font-face {
  font-family: "Karla";
  src: url(../fonts/Karla-Regular.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Karla";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Albra";
  padding: 0;
  margin: 0;
}
.row {
  max-width: 100vw;
}
.pink {
  color: #ff037a;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 4.4rem !important;
  }
  h2 {
    font-size: 3rem !important;
  }

  h3 {
    font-size: 2rem !important;
  }

  h4 {
    font-size: 1.2rem !important;
  }

  h5 {
    font-size: 1rem !important;
  }

  p {
    font-size: 1.2rem !important;
  }
}
@media (min-width: 1px) and (max-width: 1023px) {
  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 1.8rem !important;
  }

  h3 {
    font-size: 1.4rem !important;
  }

  h4 {
    font-size: 1.25rem !important;
  }

  h5 {
    font-size: 0.8rem !important;
  }

  p {
    font-size: 15px !important;
  }
}

p {
  font-family: "Karla";
}

/**********************
        Index
*/

/**********************
        Pacotes
*/

/**********************
        Trabalhos
*/

.trabalhos {
  color: rgb(252, 252, 252);
}

div.trabalhos {
  background-color: #ff037a;
  min-height: 12rem;
  padding: 5rem 5rem;
}

h1.trabalhos {
  font-size: 7rem;
}

h4.trabalhos {
  font-family: "Lemon Milk";
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  padding: 1rem 0;
  text-transform: uppercase;
}

div.cards-principal {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  columns: 1;
  align-items: center;
}
div.principal :nth-child(odd) {
  padding-top: 0;
}

div.principal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

img.principal {
  padding: 0 1rem;
  width: 520px;
  height: 520px;
}
h2.principal {
  padding: 1rem 0;
  font-family: "Lemon Milk";
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 800;
}
