
/*************************************
        Pacotes
*/

/*******************
        Secção 1
*/


@media (min-width: 1px) and (max-width: 1023px) {
    .pacotes-text,
    .pacotes {
      color: rgb(252, 252, 252);
    }
  
    div.pacotes-text {
      background-color: #151515;
      padding: 2rem;
      padding-top: 4.5rem;
    }
  
    h1.pacotes-text {
      font-size: 3rem !important;
    }
  
    h4.pacotes-text {
      font-family: "Lemon Milk";
      font-size: 1rem !important;
      font-weight: 700;
      display: inline-block;
      padding: 1rem 0;
      text-transform: uppercase;
    }
  
    div.pacotes-text {
      align-items: start;
      justify-content: start;
      text-align: start;
    }
  }
  
  @media (min-width: 1024px) {
    .pacotes-text,
    .pacotes {
      color: rgb(252, 252, 252);
    }
  
    div.pacotes-text {
      background-color: #151515;
      padding: 2rem 5rem;
      padding-top: 4.5rem;
    }
  
    h1.pacotes-text {
      font-size: 7rem !important;
    }
  
    h4.pacotes-text {
      font-family: "Lemon Milk";
      font-size: 2rem;
      font-weight: 700;
      display: inline-block;
      padding: 1rem 0;
      text-transform: uppercase;
    }
  
    div.pacotes-text {
      align-items: start;
      justify-content: start;
      text-align: start;
    }
  }
  
  
  /*******************
          Secção 2
  */
  
  
  div.pacotes:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 1px) and (max-width: 1023px) {
    div.pacotes:nth-child(2) {
      padding: 1.2rem;
      padding-top: 0;
    }
  
    div.pacotes > h3.text-pacotes {
      display: inline-block;
      text-align: center;
      font-size: 1.1rem !important;
      font-family: "Karla";
      color: #151515;
    }
  
    div.pacotes > div.title-pacotes > h1.title-pacotes {
      width: 100%;
    }
  
    section.pacotes > div {
      padding: 2rem 2rem 5rem 2rem;
      margin: 2rem 0;
      width: 85%;
      border: #151515 solid 2px;
    }
  
    section.pacotes > div > h2 {
      font-size: 3rem !important;
    }
  
    section.pacotes > div > div > ul > li {
      color: #151515;
      font-size: 1rem;
    }
  
    section.pacotes > div > div > a {
      display: flex;
      justify-content: center;
      width: 90%;
      border: solid 2px #151515;
      margin: 0 auto;
      margin-top: 1.8rem;
      padding: 0.9rem 1rem;
    }
  
    section.pacotes > div > div > a > span {
      display: inline-block;
      margin: 0 auto;
      font-size: 2.28rem;
      font-family: "Albra";
      color: #e60261;
    }
  
    a.botao {
      background-color: #e60261 !important;
      border: solid 2px #e60261 !important;
    }
  
    a.botao > span {
      font-size: 1.8rem;
      color: #f6f6f6 !important;
    }
    div.pacotes > div.title-pacotes > h2.title-pacotes {
      font-size: 1.2rem !important;
      transform: translate(0, 60%);
    }
  }
  
  @media (min-width: 1024px) {
    div.pacotes:nth-child(2) {
      padding: 2rem;
      padding-top: 5rem;
    }
  
    div.pacotes > h3.text-pacotes {
      display: inline-block;
      text-align: center;
      font-family: "Karla";
      color: #151515;
      width: 60%;
    }
  
    div.pacotes > div.title-pacotes > h1.title-pacotes {
      width: 100%;
    }
  
    section.pacotes > div {
      padding: 3rem 5rem 6rem 5rem;
      margin: 2rem 25px;
      border: #151515 solid 4px;
    }
  
    section.pacotes > div > h2 {
      font-size: 5rem;
    }
  
    section.pacotes > div > div > ul > li {
      color: #151515;
      font-size: 1.3rem;
    }
  
    section.pacotes > div > div > a {
      display: flex;
      justify-content: center;
      width: 50%;
      border: solid 2px #151515;
      margin: 0 auto;
      margin-top: 1.8rem;
      padding: 0.9rem 1rem;
    }
  
    section.pacotes > div > div > a > span {
      display: inline-block;
      margin: 0 auto;
      font-size: 2rem;
      font-family: "Albra";
      color: #e60261;
    }
    a.botao {
      background-color: #e60261 !important;
      border: solid 2px #e60261 !important;
    }
  
    a.botao > span {
      font-size: 1.6rem;
      color: #f6f6f6 !important;
    }
  
    div.pacotes > div.title-pacotes > h2.title-pacotes {
      font-size: 2.5rem !important;
      transform: translate(0, 30%);
    }
  }
  
  p.desconto {
    margin: 1.5rem auto !important;
    text-align: center;
    width: 60%;
  }
  
  div.pacotes > div.title-pacotes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translate(0, 30%);
  }
  
  div.pacotes > div.title-pacotes > h2.title-pacotes {
    display: inline-block;
    font-family: "Lemon Milk";
    color: #151515;
    font-weight: 500;
    min-height: 4rem;
  }
  div.pacotes > div.title-pacotes > h1.title-pacotes {
    display: block;
    background-color: #151515;
    font-family: "Albra";
    min-height: 4rem;
    padding: 1rem;
  }
  
  section.pacotes {
    background-color: #f4f4f4;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
  }
  
  section.pacotes > div > h5 {
    font-family: "Lemon Milk";
    font-weight: 600;
    color: #151515;
  }
  
  section.pacotes > div > h2 {
    text-transform: capitalize;
    color: #e60261;
  }
  
  section.pacotes > div > p {
  }
  
  section.pacotes > div > div > p {
    margin: 1.5rem 0;
    color: #151515;
  }
  
  
  /*******************
          Secção 3
  */
  
  
  div.midias {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  @media (min-width: 1px) and (max-width: 1023px) {
    section.midias {
      padding-top: 0rem;
    }
    div.midias:nth-child(1) {
      padding-top: 5rem;
    }
    div.midias > div.title-midias > h1.title-midias {
      width: 60%;
    }
  
    section.midias > div {
      padding: 2rem 2rem 5rem 2rem;
      margin: 2rem 25px;
      border: #151515 solid 2px;
    }
  
    section.midias > div > div > a {
      width: 90%;
    }
  
    section.midias > div > div > ul > li {
      display: flex;
      color: #151515;
      font-size: 1rem;
      width: 100%;
      margin: 0;
      margin-top: 5px;
  
      justify-content: space-between;
    }
  
    section.midias > div > div > ul > li > span:nth-child(1) {
      color: #151515;
      font-size: 1rem;
    }
  
    section.midias > div > div > ul > li > span > a {
      color: #e60261;
      font-size: 1.2rem;
      text-decoration: none;
      padding: 10px 15px;
      min-width: 110px;
      max-height: 65px;
      border: solid 2.2px #151515;
    }
  
    a.btn-midia {
      display: none !important;
    }
  
    section.midias > div > h2 {
      font-size: 3rem !important;
    }
  
    div.midias > div.title-midias > h2.title-midias {
      font-size: 1.2rem !important;
      transform: translate(0, 60%);
    }
  }
  
  @media (min-width: 1024px) {
    
  
    div.midias:nth-child(1) {
      padding-top: 5rem;
    }
  
    div.midias > div.title-midias > h1.title-midias {
      width: 100%;
    }
  
    section.midias > div {
      padding: 3rem 5rem 6rem 5rem;
      margin: 2rem 0;
      border: #151515 solid 4px;
    }
  
    section.midias > div > div > a {
      width: 60%;
    }
    a.btn-midia {
      display: none !important;
    }
  
    section.midias > div > div > ul > li {
      display: flex;
      color: #151515;
      font-size: 1.3rem;
      width: 100%;
      margin-top: 1rem;
  
      justify-content: space-between;
    }
  
    section.midias > div > div > ul > li > span:nth-child(1) {
      color: #151515;
      font-size: 1.5rem;
    }
  
    section.midias > div > div > ul > li > span > a {
      color: #e60261;
      font-size: 1.7rem;
      text-decoration: none;
      padding: 10px 15px;
      min-width: 154px;
      max-height: 65px;
      border: solid 2.2px #151515;
    }
  
    section.midias > div > h2 {
      font-size: 3.4rem !important;
    }
  
    div.midias > div.title-midias > h2.title-midias {
      font-size: 2.5rem !important;
      transform: translate(0, 30%);
    }
  }
  
  div.midias > p.text-midias {
    color: #151515;
    width: 80%;
  }
  
  div.midias:nth-child(1) {
    display: flex;
    padding: 2rem;
  }
  div.midias > div.title-midias {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translate(0, -70%);
  }
  
  div.midias > div.title-midias > h2.title-midias {
    display: inline-block;
    font-family: "Lemon Milk";
    color: #151515;
    font-weight: 500;
    min-height: 4rem;
  }
  
  div.midias > div.title-midias > h1.title-midias {
    display: block;
    background-color: #151515;
    color: #fff;
    min-height: 4rem;
    padding: 1rem;
  }
  
  section.midias {
    display: flex;
    flex-wrap: wrap;
  
    justify-content: space-around;
  }
  
  section.midias > div > h5 {
    font-family: "Lemon Milk";
    font-weight: 600;
    color: #151515;
  }
  
  section.midias > div > h2 {
    text-transform: capitalize;
    color: #e60261;
  }
  
  section.midias > div > p {
  }
  
  section.midias > div {
    background-color: #f4f4f4;
  }
  
  section.midias > div > div > p {
    margin: 1.5rem 0;
    color: #151515;
  }
  
  section.midias > div > div > ul {
    color: #151515;
    width: 100%;
    padding: 0;
  }
  
  section.midias > div > div > a {
    display: flex;
    justify-content: center;
    border: solid 2px #151515;
    margin: 0 auto;
    margin-top: 1.8rem;
    padding: 0.9rem 1rem;
  }
  
  section.midias > div > div > a > span {
    display: inline-block;
    margin: 0 auto;
    font-size: 2rem;
    font-family: "Albra";
    color: #e60261;
  }
  
  
  /*******************
          Secção 4
  */
  
  
  div.servicos > div.title-servicos {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translate(0, 10%);
  }
  
  @media (min-width: 1px) and (max-width: 1023px) {
    div.servicos > div.title-servicos {
      transform: translate(0, 15%);
    }
  
    div.servicos > div.title-servicos > h1.title-servicos {
      width: 50%;
    }
  
    section.servicos > div {
      padding: 1rem 1rem 3rem 1rem;
      border: #151515 solid 2px;
    }
  
    section.servicos > div > div {
      padding: 1rem 1rem 3rem 1rem;
      border: #151515 solid 2px;
    }
  
    section.servicos > div > div {
      font-size: 3rem !important;
      color: #e60261;
    }
  
    section.servicos > div > div > h1 {
      font-size: 3rem !important;
      color: #e60261;
    }
    section.servicos > div > div > h4 {
      font-size: 1rem !important;
    }
  
    section.servicos > div > div > div > div > ul > li {
      font-size: 1rem;
    }
  
    section.servicos > div > div > div > a {
      width: 90%;
    }
  
    section.servicos > div > div > div > a > span {
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    div.servicos > div.title-servicos > h1.title-servicos {
      width: 30%;
    }
  
    section.servicos > div {
      border: #151515 solid 4px;
    }
  
    section.servicos > div > div {
      padding: 3rem 5rem 6rem 5rem;
      border: #151515 solid 4px;
    }
  
    section.servicos > div > div > h1 {
      font-size: 7rem !important;
    }
  
    section.servicos > div > div > div > div > ul > li {
      font-size: 1.3rem;
    }
  
    section.servicos > div > div > div > a {
      width: 50%;
    }
  
    section.servicos > div > div > div > a > span {
      font-size: 2.5rem;
    }
  }
  div.servicos > div.title-servicos > h1.title-servicos {
    display: block;
    background-color: #151515;
    color: #fff;
    min-height: 4rem;
    padding: 1rem;
  }
  
  section.servicos {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  section.servicos > div {
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  section.servicos > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0;
    width: 100%;
  }
  
  section.servicos > div > div > h1 {
    text-transform: capitalize;
    color: #e60261;
  }
  
  section.servicos > div > div > h4 {
    font-family: "Lemon Milk";
    font-weight: 600;
    color: #151515;
  }
  
  section.servicos > div > div > p {
  }
  
  section.servicos > div > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  section.servicos > div > div > div > p {
    margin: 1.5rem 0;
    color: #151515;
  }
  
  section.servicos > div > div > div > div {
  }
  
  section.servicos > div > div > div > div > ul {
    color: #151515;
  }
  
  section.servicos > div > div > div > div > ul > li {
    color: #151515;
    text-align: center;
    list-style: none;
  }
  
  section.servicos > div > div > div > a {
    display: flex;
    justify-content: center;
    border: solid 2px #151515;
    margin: 0 auto;
    margin-top: 1.8rem;
    padding: 0.9rem 3.5rem;
  }
  
  section.servicos > div > div > div > a > span {
    display: inline-block;
    margin: 0 auto;
    font-family: "Albra";
    color: #e60261;
  }